body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
    background-color: #ebebeb;
}

* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    margin: 82px 0 0 0;
    padding: 15px;
    background-color: #74AFAD;
    color: white;
    -webkit-box-shadow: 1px 1px 10px #558C89;
    -moz-box-shadow: 1px 1px 10px #558C89;
    -o-box-shadow: 1px 1px 10px #558C89;
    -ms-box-shadow: 1px 1px 10px #558C89;
    box-shadow: 1px 1px 10px #558C89;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    text-shadow: 4px 4px 10px #1b2c2b;
}

h2 {
    text-align: left;
    font-size: 2.5em;
    text-shadow: 1px 1px 10px grey;
    margin-top: -86px;
    padding: 126px 0 10px 0;
    border-bottom: 3px solid black;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 100%;
    top: 0;
    position: fixed;
    text-align: center;
    background-color: #558C89;
    color: white;
    font-size: 1.4em;
    -webkit-box-shadow: 1px 1px 10px #385c5a;
    -moz-box-shadow: 1px 1px 10px #385c5a;
    -o-box-shadow: 1px 1px 10px #385c5a;
    -ms-box-shadow: 1px 1px 10px #385c5a;
    box-shadow: 1px 1px 10px #385c5a;
}

nav span.site-name {
    font-size: 1.2em;
    padding: 15px;
    text-shadow: 1px 1px 10px #1b2c2b;
    border-radius: 5px;
    background-color: #8c5558;
    cursor: pointer;
}

nav ul {
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    -o-transition: max-height 0.8s;
    -ms-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

nav ul li {
    display: inline-block;
    padding: 20px 0;
    border-radius: 5px;
    text-shadow: 1px 1px 10px #1b2c2b;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

nav ul li a {
    padding: 20px;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: #74AFAD;
}

nav ul ul {
    position: absolute;
    left: -9999em;
}

content {
    display: block;
    padding: 1% 20%;
    line-height: 1.5em;
    word-spacing: .5em;
}

content div.introduction {
    display: block;
}

content div.introduction .intro-img {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

content div.introduction .intro-img img {
    width: 30%;
    padding: 5px 50px;
}

content p {
    font-size: 1.3em;
    text-align: justify;
    line-height: 2em;
    word-spacing: 0.3em;
}

nav input[type=checkbox],
nav label {
    display: none;
}

@media screen and (max-width: 1024px) {
    
    header {
        margin: 60px 0 0 0;
        padding: 5px;
    }

    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 2em;
        margin-top: -62px;
        padding: 92px 0 10px 0;
        border-bottom: 2px solid black;
    }

    nav {
        font-size: 1.2em;
    }

    nav span.site-name {
        padding: 10px;
        border-radius: 5px;
    }

    nav ul {
        padding: 5px;
    }

    nav ul li {
        padding: 15px 0;
    }
    nav ul li a {
        padding: 15px;
    }

    content {
        padding: 1% 15%;
    }

    content div.introduction .intro-img img {
        width: 30%;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 640px) {

    header {
        margin: 45px 0 0 0;
        padding: 1px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        margin-top: -36px;
        padding: 66px 0 2px 0;
        border-bottom: 1px solid black;
    }

    nav {
        font-size: 1.1em;
        text-align: left;
    }

    nav span.site-name {
        display: none;
    }

    nav ul {
        text-align: left;
        display: block;
        overflow: hidden;
        max-height: 0;
        padding: 0;
    }

    nav ul li {
        width: 100%;
        padding: 10px;
    }

    nav ul li:hover {
        background-color: #558C89;
    }

    nav label {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        background-color: #385c5a;
        font-weight: bold;
        text-shadow: 1px 1px 10px #1b2c2b;
        -webkit-box-shadow: 1px 1px 10px #1b2c2b;
        -moz-box-shadow: 1px 1px 10px #1b2c2b;
        -o-box-shadow: 1px 1px 10px #1b2c2b;
        -ms-box-shadow: 1px 1px 10px #1b2c2b;
        box-shadow: 1px 1px 10px #1b2c2b;
    }

    nav label div.menu-icon,
    nav label div.site-name {
        display: inline-block;
    }

    nav label div.menu-icon div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 3px 0;
        -webkit-box-shadow: 1px 1px 10px #1b2c2b;
        -moz-box-shadow: 1px 1px 10px #1b2c2b;
        -o-box-shadow: 1px 1px 10px #1b2c2b;
        -ms-box-shadow: 1px 1px 10px #1b2c2b;
        box-shadow: 1px 1px 10px #1b2c2b;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }

    nav label div.site-name {
        position: relative;
        top: -4px;
        left: 5px;
    }

    content {
        padding: 0 10%;
    }

    content p {
        line-height: 1.5em;
        font-size: 1em;
    }

    input[type=checkbox]:checked ~ ul {
        max-height: 20em;
    }

    /* Rotate first bar */
    input[type=checkbox]:checked + label .menu-icon .bar1 {
        -webkit-transform: translate(0, 6px) rotate(315deg);
        -ms-transform: translate(0, 6px) rotate(315deg);
        -o-transform: translate(0, 6px) rotate(315deg);
        -moz-transform: translate(0, 6px) rotate(315deg);
        transform: translate(0, 6px) rotate(315deg);
    }

    /* Fade out the second bar */
    input[type=checkbox]:checked + label .menu-icon .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    input[type=checkbox]:checked + label .menu-icon .bar3 {
        -webkit-transform: translate(0, -6px) rotate(-315deg);
        -ms-transform: translate(0, -6px) rotate(-315deg);
        -o-transform: translate(0, 6px) rotate(315deg);
        -moz-transform: translate(0, -6px) rotate(-315deg);
        transform: translate(0, -6px) rotate(-315deg);
    }

    content div.introduction .intro-img img {
        width: 30%;
        padding: 5px 5px;
    }
}