html {
    overflow-y: scroll;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.ttf"),
    url("../fonts/fontawesome-webfont.eot");
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ebebeb;
}

* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    margin: 70px 0 0 0;
    padding: 1px;
    background-color: #74AFAD;
    color: white;
    -webkit-box-shadow: 1px 1px 10px #558C89;
    -moz-box-shadow: 1px 1px 10px #558C89;
    -o-box-shadow: 1px 1px 10px #558C89;
    -ms-box-shadow: 1px 1px 10px #558C89;
    box-shadow: 1px 1px 10px #558C89;
}

h1 {
    font-size: 3.5em;
    text-align: center;
    text-shadow: 4px 4px 10px #1b2c2b;
}

h2 {
    text-align: left;
    font-size: 2.5em;
    text-shadow: 1px 1px 10px grey;
    margin-top: -70px;
    padding: 100px 0 10px 0;
    border-bottom: 3px solid black;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    -moz-box-shadow: 1px 1px 10px #385c5a;
    -ms-box-shadow: 1px 1px 10px #385c5a;
    -o-box-shadow: 1px 1px 10px #385c5a;
    -webkit-box-shadow: 1px 1px 10px #385c5a;
    background-color: #558C89;
    box-shadow: 1px 1px 10px #385c5a;
    color: white;
    font-size: 1.4em;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

nav span.site-name {
    font-size: 1.2em;
    padding: 15px;
    text-shadow: 1px 1px 10px #1b2c2b;
    border-radius: 5px;
    background-color: #8c5558;
    cursor: pointer;
}

nav ul {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    -o-transition: max-height 0.8s;
    -ms-transition: max-height 0.8s;
    transition: max-height 0.8s;
}

nav ul li {
    display: inline-block;
    padding: 20px 0;
    border-radius: 5px;
    text-shadow: 1px 1px 10px #1b2c2b;
    cursor: pointer;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

nav ul li a {
    padding: 20px;
    border-radius: 5px;
}

nav ul li:hover {
    background-color: #74AFAD;
}

content {
    display: block;
    padding: 1% 20%;
    line-height: 1.5em;
    word-spacing: .5em;
}

content div.introduction {
    display: block;
    text-align: center;
}

content div.introduction div.intro-img {
    display: inline-block;
}

/* MAKE CIRCLE */
content div.introduction div.intro-img div.circle {
    border-radius: 9999em;
    display: inline-block;
    height: 100px;
    margin: 5px 20px;
    text-align: center;
    width: 100px;
}

content div.introduction div.intro-img div.circle {
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -ms-transition: background 0.4s;
    transition: background 0.4s;
    background: #74AFAD;
}

content div.introduction div.intro-img div.circle:hover {
    background-color: #af7476;
}

/* CIRCLE ANIMATION */
content div.introduction div.intro-img div.circle > img {
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    transition: transform 0.4s;
    transform: scale(1, 1) rotate(-360deg);
}

content div.introduction div.intro-img div.circle:hover > img {
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    transition: transform 0.4s;
    transform: scale(1.2, 1.2) rotate(360deg);
}

content div.introduction div img {
    position: relative;
    width: 100px;
    height: 100px;
}

content p {
    font-size: 1.3em;
    text-align: justify;
    line-height: 2em;
    word-spacing: 0.3em;
}

ul.criteres,
ul.citations,
ul.plugins-list {
    line-height: 2em;
    word-spacing: 0.3em;   
    text-align: left;
    list-style-type: lower-alpha;
    font-size: 1.2em;
}

ul.criteres,
ul.plugins-list {
    list-style-type: none;
}

ul.criteres li:before,
ul.plugins-list li:before {
    content: "\f006";
    font-family: "FontAwesome";
    float: left;
    margin-left: -1.5em;
}

content div.editor-image img {
    width: 50%;
    margin: 1em 1em 1em 0;
    float: left;
}

content p a {
    text-decoration: underline;
    font-style: italic;
}

content p.editor-url {
    text-align: center;
}

content div.contact input[type="text"],
content div.contact input[type="email"] {
    display: block;
    width: 50%;
    font-size: 1.3em;
    background: #f8f8f8;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
}

content div.contact input[type="text"]:focus,
content div.contact input[type="email"]:focus {
    outline: none;
    border-bottom: 2px solid #969696;
}

content div.contact textarea.message {
    display: block;
    width: 50%;
    outline: none;
    font-size: 1.2em;
    background: #f8f8f8;
    padding: 10px;
    margin: 20px auto;
    resize: none;
    border: none;
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #c9c9c9;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    -ms-transition: border 0.5s;
    transition: border 0.5s;
}

content div.contact textarea.message:focus {
    border-bottom: 2px solid #969696;
}

content div.contact .send-button {
    display: block;
    text-align: center;
    width: 20%;
    padding: 10px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 1.3em;
    background: #fcfcfc;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    -webkit-transition: transform 0.05s;
    -moz-transition: transform 0.05s;
    -o-transition: transform 0.05s;
    -ms-transition: transform 0.05s;
    transition: transform 0.05s;
}

content div.contact .send-button:hover {
    background: lightgrey;
}

content div.contact .send-button:active {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

footer {
    background-color: #000;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 10px #666;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    font-size: 1.1em;
}

footer a img {
    width: 100%;
    height: 100%;
}

footer p {
    margin: 0;
}

footer p a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em 0 0;
}

footer div.license {
    font-size: 0.7em;
}

nav input[type=checkbox],
nav label {
    display: none;
}

/* categries.html */

content .choice-menu {
    display: block;
    margin: 0 auto;
    text-align: center;
}

content .choice-menu div {
    display: inline-block;
    margin: 2% 2% 10% 2%;
    width: 40%;
    height: 10%;
    box-shadow: 1px 1px 10px black;
    border-radius: 50%;
    color: white;
    text-shadow: 1px 1px 10px #1b2c2b;
    -webkit-transition: background .5s;
       -moz-transition: background .5s;
        -ms-transition: background .5s;
         -o-transition: background .5s;
            transition: background .5s;
}

content .choice-menu div.editors {
    background-image: -webkit-linear-gradient(top, #2d5986, #204060);
    background-image: -moz-linear-gradient(top, #2d5986, #204060);
    background-image: -ms-linear-gradient(top, #2d5986, #204060);
    background-image: -o-linear-gradient(top, #2d5986, #204060);
    background-image: linear-gradient(to bottom, #2d5986, #204060);
}

content .choice-menu div.plugins {
    background-image: -webkit-linear-gradient(top, #cc0000, #b30000);
    background-image: -moz-linear-gradient(top, #cc0000, #b30000);
    background-image: -ms-linear-gradient(top, #cc0000, #b30000);
    background-image: -o-linear-gradient(top, #cc0000, #b30000);
    background-image: linear-gradient(to bottom, #cc0000, #b30000);
}

content .choice-menu div.editors:hover {
    background-image: -webkit-linear-gradient(top, #336699, #2d5986);
    background-image: -moz-linear-gradient(top, #336699, #2d5986);
    background-image: -ms-linear-gradient(top, #336699, #2d5986);
    background-image: -o-linear-gradient(top, #336699, #2d5986);
    background-image: linear-gradient(to bottom, #336699, #2d5986);
}

content .choice-menu div.plugins:hover {
    background-image: -webkit-linear-gradient(top, #ff0000, #e60000);
    background-image: -moz-linear-gradient(top, #ff0000, #e60000);
    background-image: -ms-linear-gradient(top, #ff0000, #e60000);
    background-image: -o-linear-gradient(top, #ff0000, #e60000);
    background-image: linear-gradient(to bottom, #ff0000, #e60000);
}

content .choice-menu div a:hover {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
}

content .choice-menu div a {
    display: block;
    padding: 15% 27.5%;
    font-size: 3vw;
    -webkit-transition: transform .5s;
       -moz-transition: transform .5s;
        -ms-transition: transform .5s;
         -o-transition: transform .5s;
            transition: transform .5s;
}

/* /categories.html */

@media screen and (max-width: 1024px) {
    
    header {
        margin: 60px 0 0 0;
        padding: 5px;
    }

    h1 {
        font-size: 2.3em;
    }

    h2 {
        font-size: 2em;
        margin-top: -62px;
        padding: 92px 0 10px 0;
        border-bottom: 2px solid black;
    }

    nav {
        font-size: 1.2em;
    }

    nav span.site-name {
        padding: 10px;
        border-radius: 5px;
    }

    nav ul {
        padding: 5px;
    }

    nav ul li {
        padding: 15px 0;
    }
    nav ul li a {
        padding: 15px;
    }

    content {
        padding: 1% 15%;
    }

    content div.introduction div.intro-img div.circle {
        height: 80px;
        width: 80px;
        margin: 5px 10px;
    }

    content div.introduction div img {
        width: 80px;
        height: 80px;
    }

    content p {
        line-height: 1.75em;
        font-size: 1.2em;
        word-spacing: 0.2em;
    }

    content .choice-menu div a {
        padding: 15% 25%;
        font-size: 4vw;
    }

    ul.criteres,
    ul.citations,
    ul.plugins-list {
        line-height: 1.75em;
        word-spacing: 0.2em;   
        text-align: left;
        list-style-type: lower-alpha;
        font-size: 1.1em;
    }

    ul.criteres,
    ul.plugins-list {
        list-style-type: none;
    }

    content div.editor-image img {
        float: none;
        width: 100%;
        margin: 0;
    }

    content div.contact input[type="text"], 
    content div.contact input[type="email"] {
        width: 75%;
    }

    content div.contact textarea.message {
        width: 75%;
    }

    content div.contact .send-button {
        width: 50%;
    }

    footer {
        padding: 15px;
        font-size: 0.8em;
    }

    footer p a {
        width: 100px;
    }

    footer div.license {
        font-size: .5em;
    }
}

@media screen and (max-width: 640px) {

    header {
        margin: 45px 0 0 0;
        padding: 1px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        margin-top: -36px;
        padding: 66px 0 2px 0;
        border-bottom: 1px solid black;
    }

    nav {
        font-size: 1.1em;
        text-align: left;
    }

    nav span.site-name {
        display: none;
    }

    nav ul {
        text-align: left;
        display: block;
        overflow: hidden;
        max-height: 0;
        padding: 0;
    }

    nav ul li {
        width: 100%;
        padding: 10px 0;
        border-radius: 0;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: .5% 3%;
        border-radius: 0;
    }

    nav label {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #385c5a;
        font-weight: bold;
        text-shadow: 1px 1px 10px #1b2c2b;
        -webkit-box-shadow: 1px 1px 10px #1b2c2b;
        -moz-box-shadow: 1px 1px 10px #1b2c2b;
        -o-box-shadow: 1px 1px 10px #1b2c2b;
        -ms-box-shadow: 1px 1px 10px #1b2c2b;
        box-shadow: 1px 1px 10px #1b2c2b;
    }

    nav label div.menu-icon,
    nav label div.site-name {
        display: inline-block;
    }

    nav label div.menu-icon div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 3px 0;
        -webkit-box-shadow: 1px 1px 10px #1b2c2b;
        -moz-box-shadow: 1px 1px 10px #1b2c2b;
        -o-box-shadow: 1px 1px 10px #1b2c2b;
        -ms-box-shadow: 1px 1px 10px #1b2c2b;
        box-shadow: 1px 1px 10px #1b2c2b;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }

    nav label div.site-name {
        position: relative;
        top: -4px;
        left: 5px;
    }

    content {
        padding: 0 10%;
    }

    content p {
        line-height: 1.5em;
        font-size: 1em;
        word-spacing: 0.1em;
    }

    content .choice-menu div a {
        padding: 15% 20%;
        font-size: 5vw;
    }

    ul.criteres,
    ul.citations,
    ul.plugins-list {
        line-height: 1.5em;
        word-spacing: 0.1em;   
        text-align: left;
        list-style-type: lower-alpha;
        font-size: 0.9em;
    }

    ul.criteres,
    ul.plugins-list {
        list-style-type: none;
    }

    content div.contact input[type="text"],
    content div.contact input[type="email"] {
        width: 100%;
        margin: 10px auto;
        font-size: 1em;
    }

    content div.contact textarea.message {
        font-size: 0.9em;
        width: 100%;
    }

    content div.contact .send-button {
        display: block;
        text-align: center;
        width: 50%;
        font-size: 1em;
    }

    input[type=checkbox]:checked ~ ul {
        max-height: 20em;
    }

    /* Rotate first bar */
    input[type=checkbox]:checked + label .menu-icon .bar1 {
        -webkit-transform: translate(0, 6px) rotate(315deg);
        -ms-transform: translate(0, 6px) rotate(315deg);
        -o-transform: translate(0, 6px) rotate(315deg);
        -moz-transform: translate(0, 6px) rotate(315deg);
        transform: translate(0, 6px) rotate(315deg);
    }

    /* Fade out the second bar */
    input[type=checkbox]:checked + label .menu-icon .bar2 {
        opacity: 0;
    }

    /* Rotate last bar */
    input[type=checkbox]:checked + label .menu-icon .bar3 {
        -webkit-transform: translate(0, -6px) rotate(-315deg);
        -ms-transform: translate(0, -6px) rotate(-315deg);
        -o-transform: translate(0, 6px) rotate(315deg);
        -moz-transform: translate(0, -6px) rotate(-315deg);
        transform: translate(0, -6px) rotate(-315deg);
    }

    content div.introduction div.intro-img div.circle {
        height: 60px;
        width: 60px;
        margin: 5px 5px;
    }

    content div.introduction div img {
        width: 60px;
        height: 60px;
    }

    footer {
        padding: 10px;
        font-size: 0.6em;
    }

    footer p a {
        width: 80px;
    }

    footer div.license {
        font-size: 4px;
    }
}

.clearfix {
    display: inline-block;
}
 
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
/* Hides from IE-mac */
* html .clearfix {
    height: 1%;
}
 
.clearfix {
    display: block;
}
/* End hide from IE-mac */
